@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+HK:wght@500&family=Source+Code+Pro:wght@500&display=swap');

body {
    font-family: 'Noto Sans HK', sans-serif;
}

div {
    display: inline-block;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 2%;
    padding: 2%;
}

img {
    height: 70%;
}

#heading {
    color: darkgreen;
}

.greeb-box {
    background-color: rgb(94, 238, 94);
}